<main class="p-4">
  <h1 class="text-4xl mb-2">Trips</h1>

  <div class="grid grid-cols-1 gap-1">
    @for (trip of trips; track $index) {
      <a [routerLink]="'/trip/' + trip.directoryName" class="bg-container p-2 rounded h-full cursor-pointer transition-colors duration-250 hover:bg-containerHover flex gap-2 items-center">
        <div class="flex gap-2">
          @for (video of trip.videos; track $index) {
            <img [src]="httpApiClient.getThumbnailUrl(trip.directoryName, video.label)" [alt]="'Thumbnail for ' + trip.directoryName + 'camera ' + video.label" class="rounded h-12">
          }
        </div>
        <div class="flex justify-between grow">
          <div>
            <p>{{trip.directoryName}}</p>
            <p class="text-gentle text-xs">{{getTimeAgo(trip)}}</p>
          </div>

          <div class="text-end">
            <p>{{ formatMilliseconds(getLength(trip))}}</p>
            <p class="text-gentle text-xs">{{trip.highlights?.length ?? "0"}} highlights</p>
          </div>
        </div>
      </a>
    }
  </div>
</main>
