<main class="p-4 mx-auto flex flex-col gap-2 lg:w-3/4">
  @if (trip == null) {
  <fa-icon class="animate-spin mx-auto my-auto" [icon]="faSpinner"></fa-icon>
  }
  @else {
    <div class="bg-container p-4 rounded-lg flex flex-col gap-1">
      <div class="flex gap-2 items-center flex-col lg:flex-row">
        <div class="flex w-full lg:w-min justify-between lg:justify-start">
          <a routerLink="/"><app-button [icon]="faArrowLeft"></app-button></a>
          <app-button [icon]="faEllipsisVertical" class="lg:hidden"></app-button> <!-- only shown when less than lg -->
        </div>
        <h1 class="text-4xl font-bold w-full">{{trip.directoryName}}</h1>
        <div class="grow justify-end gap-2 hidden lg:flex"> <!-- only shown when lg -->
          <app-button [icon]="faEllipsisVertical"></app-button>
        </div>
      </div>
      <p><fa-icon [icon]="faCalendar" class="mr-1"></fa-icon> {{formatDate(trip.startDate)}} in <fa-icon [icon]="faCar" class="mx-1"></fa-icon> {{trip.vehicleName}}</p>
    </div>

    <div class="flex flex-col xl:grid xl:grid-cols-4 xl:grid-rows-1 gap-2">
      <div class="xl:col-span-3 col-span-1 bg-container grid justify-center p-4 rounded-lg gap-4 flex-col xl:flex-row overflow-y-auto" [ngClass]="trip.videos.length > 1 ? 'grid-cols-2' : 'grid-cols-1'">
      @for (video of trip.videos; track $index) {
        <div class="flex flex-col gap-2">
          <div class="flex justify-between items-center">
              <span class="inline-flex gap-1 items-center">
                <fa-icon [icon]="faVideoCamera"></fa-icon>
                <label [for]="video.label">{{ video.label }}</label>
              </span>

            <span class="inline-flex gap-2 items-center">
                <a [href]="apiClient.getVideoDownloadUrl(trip.directoryName, video.label)"><fa-icon [icon]="faDownload"></fa-icon></a>
              </span>
          </div>
          <video [id]="video.label" #videoElement [muted]="video.muteAutomaticallyOnPlayback" class="rounded-lg mx-auto h-full" (loadeddata)="syncVideos()">
            <source
              [src]="apiClient.getVideoStreamUrl(trip.directoryName, video.label)"
              type="video/mp4"
            />
            Please update your browser.
          </video>
        </div>

      }
    </div>
      <div class="bg-container flex p-4 rounded-lg gap-2 flex-col xl:h-full col-span-1 xl:max-h-full max-h-60">
        <h2>Highlights</h2>
        <hr>
        <div class="grid grid-cols-1 overflow-y-auto gap-1">
          @for (highlight of trip.highlights; track $index) {
            <button class="flex gap-2 items-center bg-innerContainer p-4 rounded-lg mr-2" (click)="seek(getMsFromDate(highlight.date))">
              <fa-icon [icon]="faFlag"></fa-icon>
              <p>{{formatMilliseconds(getMsFromDate(highlight.date))}}</p>
              <button class="ml-auto"><fa-icon [icon]="faPlay" size="lg"></fa-icon></button>
            </button>
          }
        </div>
      </div>
    </div>

    <div class="bg-container rounded-lg py-2 px-4 flex gap-2 items-center">
      <button (click)="togglePlay()"><fa-icon [icon]="playing ? faPause : faPlay"  size="lg" [fixedWidth]="true"></fa-icon></button>
      <input type="range" class="w-full -mb-[4.5px] -mt-[4.5px]" [min]="0" [max]="tripLength" #seekbar id="seekbar"
             (input)="seek(parseInt(seekbar.value))" [value]="current">
      <span>{{formatMilliseconds(current)}}/{{formatMilliseconds(tripLength)}}</span>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">

      <app-trip-gauge [icon]="faGaugeHigh" [value]="speed?.value" unit="km/h" label="Speed"></app-trip-gauge>
      <app-trip-gauge [icon]="faTachometer" [value]="rpm?.value" unit="RPM" label="Engine Speed"></app-trip-gauge>
      <app-trip-gauge [icon]="faTemperature0" [value]="coolantTemp?.value" unit="°C" label="Coolant"></app-trip-gauge>
      <app-trip-gauge [icon]="faTemperature0" [value]="oilTemp?.value" unit="°C" label="Oil"></app-trip-gauge>

      <app-trip-gauge [icon]="faGamepad" [value]="throttlePosition?.value" unit="%" label="Throttle"></app-trip-gauge>
      <app-trip-gauge [icon]="faTemperature0" [value]="ambientAirTemp?.value" unit="°C" label="Outside"></app-trip-gauge>
      <app-trip-gauge [icon]="faGasPump" [value]="fuelLevel?.value" unit="%" label="Fuel Level"></app-trip-gauge>
      <app-trip-gauge [icon]="faClock" [value]="getDateFromMs(current).toLocaleTimeString()" unit="" label="Time"></app-trip-gauge>
    </div>
  }
</main>
