<main class="p-4 mx-auto flex flex-col gap-2 lg:w-3/4">
  @if (trip == null) {
  <fa-icon class="animate-spin mx-auto my-auto" [icon]="faSpinner"></fa-icon>
  }
  @else {
    <div class="bg-container p-4 rounded-lg flex flex-col gap-1">
      <div class="flex gap-2 items-center">
        <a class="p-2 flex items-center bg-button rounded-lg cursor-pointer transition-colors duration-250 hover:bg-buttonHover" routerLink="/"><fa-icon [icon]="faArrowLeft" [fixedWidth]="true" size="lg"></fa-icon></a>
        <h1 class="text-4xl font-bold">{{trip.directoryName}}</h1>
      </div>
      <p><fa-icon [icon]="faCalendar" class="mr-1"></fa-icon> {{formatDate(trip.startDate)}} in <fa-icon [icon]="faCar" class="mx-1"></fa-icon> {{trip.vehicleName}}</p>
    </div>

    <div class="bg-container flex justify-center p-4 rounded-lg gap-4 flex-col lg:flex-row">
      @for (video of trip.videos; track $index) {
        <div class="flex flex-col gap-2">
          <div class="flex justify-between items-center">
              <span class="inline-flex gap-1 items-center">
                <fa-icon [icon]="faVideoCamera"></fa-icon>
                <label [for]="video.label">{{ video.label }}</label>
              </span>

            <span class="inline-flex gap-2 items-center">
                <a [href]="apiClient.getVideoDownloadUrl(trip.directoryName, video.label)"><fa-icon [icon]="faDownload"></fa-icon></a>
              </span>
          </div>
          <video [id]="video.label" #videoElement [muted]="video.muteAutomaticallyOnPlayback" class="rounded-lg mx-auto lg:h-[300px]" (loadeddata)="syncVideos()">
            <source
              [src]="apiClient.getVideoStreamUrl(trip.directoryName, video.label)"
              type="video/mp4"
            />
            Please update your browser.
          </video>
        </div>

      }
    </div>

    <div class="bg-container rounded-lg py-2 px-4 flex gap-2 items-center">
      <button (click)="togglePlay()"><fa-icon [icon]="playing ? faPause : faPlay"  size="lg" [fixedWidth]="true"></fa-icon></button>
      <input type="range" class="w-full -mb-[4.5px] -mt-[4.5px]" [min]="0" [max]="tripLength" #seekbar id="seekbar"
             (input)="seek(parseInt(seekbar.value))" [value]="current">
      <span>{{formatMilliseconds(current)}}/{{formatMilliseconds(tripLength)}}</span>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">

      <app-trip-gauge [icon]="faGaugeHigh" [value]="speed?.value" unit="km/h" label="Speed"></app-trip-gauge>
      <app-trip-gauge [icon]="faTachometer" [value]="rpm?.value" unit="RPM" label="Engine Speed"></app-trip-gauge>
      <app-trip-gauge [icon]="faTemperature0" [value]="coolantTemp?.value" unit="°C" label="Coolant"></app-trip-gauge>
      <app-trip-gauge [icon]="faTemperature0" [value]="oilTemp?.value" unit="°C" label="Oil"></app-trip-gauge>

      <app-trip-gauge [icon]="faGamepad" [value]="throttlePosition?.value" unit="%" label="Throttle"></app-trip-gauge>
      <app-trip-gauge [icon]="faTemperature0" [value]="ambientAirTemp?.value" unit="°C" label="Outside"></app-trip-gauge>
      <app-trip-gauge [icon]="faGasPump" [value]="fuelLevel?.value" unit="%" label="Fuel Level"></app-trip-gauge>
      <app-trip-gauge [icon]="faClock" [value]="getDateFromMs(current).toLocaleTimeString()" unit="" label="Time"></app-trip-gauge>
    </div>
  }
</main>
