<main class="p-4 mx-auto flex flex-col gap-2">
  @if (trip == null) {
  <fa-icon class="animate-spin" [icon]="faSpinner"></fa-icon>
  }
  @else {

    <div class="bg-container flex justify-center p-4 rounded-lg gap-4 flex-col lg:flex-row">
      @for (video of trip.videos; track $index) {
        <div class="flex flex-col gap-2">
          <div class="flex justify-between items-center">
              <span class="inline-flex gap-2 items-center">
                <fa-icon [icon]="faVideoCamera"></fa-icon>
                <label [for]="video.label">{{ video.label }}</label>
              </span>

            <span class="inline-flex gap-2 items-center">
                <a [href]="httpApiClient.getVideoDownloadUrl(trip.directoryName, video.label)"><fa-icon [icon]="faDownload"></fa-icon></a>
              </span>
          </div>
          <video [id]="video.label" #videoElement class="rounded-lg mx-auto" width="480" height="320">
            <source
              [src]="httpApiClient.getVideoStreamUrl(trip.directoryName, video.label)"
              type="video/mp4"
            />
            Please update your browser.
          </video>
        </div>

      }
    </div>

    <div class="bg-container rounded-lg py-2 px-4 flex gap-2 items-center">
      <button><fa-icon [icon]="playing ? faPause : faPlay" (click)="togglePlay()" size="lg" [fixedWidth]="true"></fa-icon></button>
      <input type="range" class="w-full -mb-[4.5px] -mt-[4.5px]" [min]="0" [max]="tripLength" #seek (input)="onSeekbarChange(seek.value)" [value]="current">
      <span>{{formatMilliseconds(current)}}/{{formatMilliseconds(tripLength)}}</span>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
      <div class="bg-container p-4 rounded-lg text-center">
        <fa-icon [icon]="faGaugeHigh"></fa-icon>
        <p>0 km/h</p>
      </div>

      <div class="bg-container p-4 rounded-lg text-center">
        <fa-icon [icon]="faRotate"></fa-icon>
        <p>0 RPM</p>
      </div>

      <div class="bg-container p-4 rounded-lg text-center">
        <span><fa-icon [icon]="faTemperature0"></fa-icon> Coolant</span>
        <p>- °C</p>
      </div>

      <div class="bg-container p-4 rounded-lg text-center">
        <span><fa-icon [icon]="faTemperature0"></fa-icon> Oil</span>
        <p>- °C</p>
      </div>

    </div>
  }
</main>
